- # encoding: utf-8
- @title = 'Результаты поиска'

%h2{style: 'margin-top: 4rem'} Результаты поиска

- if @error
	%p= @error

- if !@error
	#sresults.col-md-12
		- @pages.each do |result|
			.item
				%h3!= highlight(result.title, @query)
				%p!= truncate_words(highlight(Sanitize.fragment(result.body), @query), :length => 30)
				%p.more= link_to 'Смотреть', url_for(:page, :index, result.uri)
		- @news.each do |result|
			.item
				%h3!= highlight(result.title, @query)
				%p!= truncate_words(highlight(Sanitize.fragment(result.body), @query), :length => 30)
				%p.more= link_to 'Смотреть', url_for(:news, :index, result.id)
		- @articles.each do |result|
			.item
				%h3!= highlight(result.title, @query)
				%p!= truncate_words(highlight(Sanitize.fragment(result.body), @query), :length => 30)
				%p.more= link_to 'Смотреть', url_for(:article, :index, result.id)
		- @comments.each do |result|
			.item
				%h3 Отзыв клиента #{result.name}
				%p!= truncate_words(highlight(Sanitize.fragment(result.body), @query), :length => 30)
				%p.more= link_to 'Смотреть', url_for(:comment, :index)
		- @products.each do |result|
			.item.product-item
				%h3!= highlight(result.header, @query)
				.image= link_to image_tag(result.image, :alt => result.alt), url_for(:product, :index, result.id), :title => result.header
				%p.more= link_to 'Смотреть', url_for(:product, :index, result.id)

